@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Hind:wght@300&family=Josefin+Sans:wght@200&family=Lato:wght@300&family=Playfair+Display:ital@1&family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: large;
}

body {
    background-image: linear-gradient(rgb(53, 48, 48), rgb(53, 48, 48)), url(../img/dogs.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: aliceblue;
}

.profile {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

.ct_image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
}

.ct_name {
    font-size: 1.2em;
    font-weight: bold;
}

.ct_description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.accomadation,
.reviews {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.ct_accomadation {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.Specific_reviews {
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}