* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #343a40;
    overflow: hidden;
    text-transform: capitalize;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    width: 10%;
}

.navbar .icon {
    display: none;
}

#content-img {
    background-image: url(../img/body.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    display: none;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

#content-text {
    text-align: center;
    padding-top: 2vh;
}

#welcome-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../img/dogs.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

#welcome-text {
    text-align:center;
    padding-top: 50vh;
    color:white;
}

footer {
    background-color: #343a40;
    overflow: hidden;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}


@media only screen and (max-width: 768px) {
    nav {
        display: grid;
    }
    
    .d-sm-none {
        display: none;
    }
    
    .logo {
        width: 60%;
    }
}