@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Hind:wght@300&family=Lato:wght@300&family=Playfair+Display:ital@1&family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

.navbar {
    background-color: #343a40;
    overflow: hidden;
    text-transform: capitalize;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    width: 10%;
}

.navbar .icon {
    display: none;
}

body {
    background-image: url(../img/dogs.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.login {
    width: 400px;
    background-color: #343a40;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-bottom: 5vh;
}

.login h1 {
    text-align: center;
    width: 100%;
    color: #e4e8ef;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
    margin-bottom: 2rem;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #696c72;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"],
.login form input[type="email"],
.login select {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.hidden {
    display: none !important;
}



.login form input[type="submit"],
.login form input[type="button"] {
    width: 100%;
    padding: 15px;
    background-color: #696c72;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover,
.login form input[type="button"]:hover {
    background-color: #3f4041;
    transition: background-color 0.2s;
}

footer {
    background-color: #343a40;
    overflow: hidden;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

#logo {
    max-width: 40vw;
    max-height: 30vh;
    margin: 2rem auto;
    filter: drop-shadow(5px 5px 5px #222);
}

#errorMsg {
    color: red;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    nav {
        display: grid;
    }
    .navbar a {
        font-size: 13px;
        padding: 7px 9px;
    }
    .sm_hidden {
        display: none;
    }
    .logo {
        width: 35vw;
        height: 25vh;
    }
}