/* This contains code that should be relevant to ALL pages! */
:root {
  --primary: #CCC;
  --secondary: #777;
  --black: #222;
  --white: #EEE;
}

body {
  min-height: 100vh;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
}

main {
  min-height: 100vh;
}

footer {
  justify-content: center;
  position: sticky;
  bottom: 0;
}

.navbar {
  box-sizing: border-box;
  display: flex;
  min-width: 100vw;
  padding: 0.5rem;
  background-color: var(--primary);
}

.navbar a.menu_item {
  text-decoration: none;
  color: var(--black);
}

.nav_icon {
  font-size: 6rem!important;
}

#bottom_navigation {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#top_navigation {
  display: grid;
  justify-items: right;
}

#main_button {
  border: 5px var(--black) solid;
  border-radius: 50%;
  background-color: var(--primary);
  padding: 0.25rem;
  transform: scale(1.25);
  position: relative;
  top: -25%;
}