@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Hind:wght@300&family=Josefin+Sans:wght@200&family=Lato:wght@300&family=Playfair+Display:ital@1&family=Satisfy&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../img/dogs.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: lighten;
}

#pet_details_form {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: min(90vw, 475px);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#pet_details_form * {
    box-sizing: border-box;
}

.form_panel {
    display: grid;
    border: none;
    border-radius: 1.25rem;
    color: #DDD;
    background-color: #555;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0;
    padding-bottom: 1rem;
}

.form_panel legend {
    /* Float trick to get legends to display differently */
    float: left;
    padding: 1.5rem;
    border-radius: 1.25rem 1.25rem 0 0;
    font-size: 175%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #222;
}

.form_group {
    flex-direction: column;
}

.form_group label {
    margin-bottom: 0.25rem;
}

.inline_form_group {
    flex-direction: row;
}

.inline_form_group label {
    max-width: 55%;
    padding-right: 0.25rem;
}

.form_group,
.inline_form_group {
    display: flex;
    align-items: stretch;
    padding: 0.75rem 2rem;
}

.form_group textarea {
    resize: none;
    height: 10vh;
}

.inline_form_group input,
.inline_form_group select,
.inline_form_group div {
    height: min-content;
    max-width: 45%;
    margin-left: auto;
    text-align: right;
}

.form_group input,
.form_group select,
.inline_form_group input,
.inline_form_group div input,
.inline_form_group select {
    flex-grow: 1;
    min-height: 1.5rem;
}

.form_button {
    width: 75%;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 0 auto;
    border: 2px #222;
    color: #DDD;
    border-radius: 2rem;
    background-color: #222;
}

.submit_button {
    width: 75%;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 0 auto;
    border: 2px #222;
    border-radius: 2rem;
}

.submit_button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

@media only screen and (min-width: 769px) {
    .form_panel {
        font-size: 125%;
    }
}