@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Hind:wght@300&family=Lato:wght@300&family=Playfair+Display:ital@1&family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #343a40;
    overflow: hidden;
    text-transform: capitalize;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#logout {
    float: right;
    padding: 15px;
    background-color: #696c72;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

#logout:hover {
    background-color: #3f4041;
    transition: background-color 0.2s;
}

body {
    background-image: url(../img/dogs.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    font-family: 'Bitter', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 2rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    width: 10%;
}

.navbar .icon {
    display: none;
}

.round_img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
}

.panel_header {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.name_field {
    display: flex;
    align-items: center;
}

.input {
    min-height: 2.5rem;
    width: 100%;
    display: block;
}

#profile_panel {
    background-color: #343a40;
    color: white;
    border-radius: 2rem;
    font-family: "Lato", sans-serif;
}

#profile_picture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/body.jpg");
}

#name_fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#name_fields span, #profile_panel input {
    min-height: 2.5rem;
    width: 100%;
}

#username {
    grid-column: span 2;
}

#content-img {
    background-image: url(../img/body.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    display: none;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

#content-text {
    text-align: center;
    padding-top: 2vh;
}

footer {
    background-color: #343a40;
    overflow: hidden;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

@media only screen and (max-width: 768px) {
    nav {
        display: grid;
    }
    .navbar a {
        font-size: 13px;
        padding: 7px 9px;
    }
    #logout {
        width: 100vw;
        float: none;
    }
    .sm_hidden {
        display: none;
    }
    .logo {
        width: 35vw;
        height: 25vh;
    }
    #content-img {
        min-width: 60vw;
    }
}