body {
    background-image: url(../img/dogs.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    font-family: 'Bitter', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 2rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.profile_picture {
    display:grid;
    grid-template-rows: 80% 20%;
}

.panel_header {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.name_field {
    display: flex;
    align-items: center;
}

.input_field {
    min-height: 2.5rem;
    width: 100%;
    display: block;
}

#profile_panel {
    background-color: #343a40;
    color: white;
    border-radius: 2rem;
    font-family: "Lato", sans-serif;
}

#round_img {
    width: 100%;
    height: 0;
    padding-bottom: 85%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/body.jpg");
}

#name_fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#name_fields span, #profile_panel input {
    min-height: 2.5rem;
    width: 100%;
}

#username {
    grid-column: span 2;
}

#content-img {
    background-image: url(../img/body.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    display: none;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

#content-text {
    text-align: center;
    padding-top: 2vh;
}



@media only screen and (max-width: 768px) {
}