* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #343a40;
    overflow: hidden;
    text-transform: capitalize;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.navbar .icon {
    display: none;
}

body {
    background-image: url(/img/dogs.jpg);
    background-size: contain;
    background-blend-mode: lighten;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.container {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.login {
    width: 400px;
    background-color: #343a40;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    color: #e4e8ef;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #696c72;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #696c72;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #3f4041;
    transition: background-color 0.2s;
}

footer {
    background-color: #343a40;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}